.flex-container {
    display: flex;
   /* flex-direction: row;*/
    background-color: #f1f1f1;
    /*flex-wrap: nowrap;*/
    flex-flow: row wrap;
    justify-content: start;
    align-items: baseline;
    align-content: stretch;
    height: 500px;
}

.flex-container > div {
    background-color: dodgerblue;
    color: white;
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#quad1 {
    order: 4;
}

#quad2 {
    order: 3;
}

#quad3 {
    order: 1;
}

#quad4 {
    order: 2;
}