table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    width: 500px;
    height: 50px;
}

.ai {
    background-color: rgb(138, 37, 37);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ei {
    background-color: rgb(230, 48, 48);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oi {
    background-color: rgb(194, 103, 103);
}

.aa {
    background-color: rgb(55, 194, 194);
}

#bb {
    background-color: rgb(114, 196, 207);
}